<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h4>Jahir</h4>
      <h5>jahir509</h5>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsJ774VL7RjYJGKgiFM2E1DmvLT3NeldlBWA&usqp=CAU" alt="">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Page</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Another Page</a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Contacts</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>import_contacts</mat-icon>Contacts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>phone</mat-icon>Leads</a>

</mat-nav-list>


