<app-header class="alternate-theme" (toggleRightSideBarStatus)="toggleRightSideBar()"  (toggleLeftSideBarStatus)="toggleLeftSideBar()"></app-header>

<mat-drawer-container>
  <mat-drawer class="sidebar right-radius" mode="side" [opened]="isOpenRightSideBar" position="start">
    <app-left-sidebar></app-left-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer class="sidebar left-radius" mode="side" position="end" [opened]="isOpenLeftSideBar">
    <app-right-sidebar ></app-right-sidebar>
  </mat-drawer>

</mat-drawer-container>

<app-footer class="footer"></app-footer>
